body {
  margin: 0;
  padding-left: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/*
  -- HEADER COMPONENT --
*/

.header {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.app-name {
  flex-grow: 1;
  font-weight: bold;
  font-size: 24px;
}
.app-name a, .app-name button {
  text-decoration: none;
  color: black;
}
.menu-items {
  flex-grow: 2;
  display: flex;
  justify-content:flex-end;
}
.menu-items ul {
  list-style: none;
}
.menu-items ul li {
  display: inline;
}
.menu-items ul li a, .menu-items ul li button {
  text-decoration: none;
  border: none;
  color: #34495e;
  padding: 8px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 14px;
  margin-left: 10px;
}
.menu-items ul li:hover {
  cursor: pointer;
}

/*
  -- Main COMPONENT --
*/
.Main-Page {
  display: flex;
  justify-content: center;
  font-size: 22px;
  padding-top: 20px;
}

/*
  -- AuthForm COMPONENT --
*/
.auth-form {
  width: 30%;
  margin: 0 auto;
}
.form-control {
  margin-bottom: 15px;
}
.auth-form button {
  border: none!important;
  color:black;
  background-color: #ccc;
}

/*
  -- TodoManageForm COMPONENT
*/
.todo-manage-form {
  padding-top: 20px;
  margin-bottom: 15px;
}
.todo-manage-form .form-control {
  margin-bottom: 30px;
}
.todo-manage-form .form-control input{
  font-size: 14px;
}
.todo-manage-form button {
  border: none!important;
  color:black;
  background-color: #ccc;
}

/*
  -- Dashboard COMPONENT
*/

.invalid-login-error {
  width: 28%;
  margin: 0 auto;
  margin-top: 15px;
}
.create-event-container {
  display: flex;
  align-items: center;
}
.create-event-container h2{
  display: inline-block;
  margin-right: 5px;
}
.create-event-container svg:hover {
  cursor: pointer;
}
/*
  -- TodoList COMPONENT
*/
.todo-list-container {
  padding-bottom: 60px;
}

/*
  -- TodoList COMPONENT
*/
.todo-list-item {
  margin-top: 25px;
  padding: 10px 10px 10px 0px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}
.todo-list-item-date-container {
  font-weight: bold;
  font-size: 12px;
  padding: 12px;
  background-color: #ccc;
  margin-right: 10px;
}
.todo-list-item-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.todo-list-item-description {
  font-size: 14px;
  margin-bottom: 5px;
}
.todo-list-item-text-container {
  flex-grow: 2;
}
.todo-list-item-edit-button {
  cursor: pointer;
}
.todo-list-item-edit-button a {
  color: black;
}
.list-item-edit-menu {
  display: block;
}

/*
CalendarView Component
*/
.react-calendar {
  width: inherit!important;
  border: solid 1px rgba(0, 0, 0, 0.2)!important;
  border-radius: 5px;
}
.calendar-view {
  margin-top: 15px;
  height: 500px;
  border-radius: 5px;
}
.calendar-view .rbc-toolbar span.rbc-btn-group:last-child {
  display: none;
}
.rbc-event {
  background-color: green!important;
}
.rbc-date-cell {
  font-size: 14px;
  color: #333;
}
.rbc-toolbar-label {
  font-size: 20px;
  font-weight: bold;
}
.rbc-today {
  background-color: lavender!important;
}
/*
Material Components style override
*/
h2.MuiDialogTitle-root{
  font-size: 16px;
}
.MuiPaper-root {
  padding: 15px;
}